/* All the main css*/
body {
    background-color: #222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1em 0;
}
/* All the css for the index page */
/* All the css for the about page */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 2em 0;
    background-color: #333;
    color: #fff;
}

#about {
    background-color: #333;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#portfolio {
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#contact {
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#gallery {
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profile-pic {
    flex: 1 1 200px;
    border-radius: 5%;
    max-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.about-content {
    flex: 2 1 400px;
}

.about-content h1, .about-content h2 {
    color: #47b5ff;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    background-color: #555;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.project {
    flex: 1 1 calc(33.333% - 1em);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    background-color: #444;
    color: #fff;
    text-align: center; /* Center align project text */
}

.project img {
    max-width: 100%;
    height: auto; /* Ensure images are responsive */
}

.project a {
    color: #fff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    background-color: #333;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label, input, textarea {
    margin-bottom: 1em;
    color: #fff;
}

input, textarea {
    background-color: #555;
    border: 1px solid #444;
    color: #fff;
}

button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.projectimages img {
    width:  500px;
    height: 300px;
    background-size: cover;
    object-fit:scale-down;
}

footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a.contactbutton {
    display: inline-block;
    padding: 6px 12px;
    background-color: #395ccf; /* Blue */
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  a.contactbutton:hover {
    background-color: #3a59be; /* Darker Blue */
  }